@import "../../../../global-styles/styles/root.scss";

.payment-form-component {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;

    max-width: 440px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 195px 64px 0 64px;
    align-items: start;

    #{&}__title {
        display: flex;
        align-self: self-start;
        color: var(--color-text);
        @include semibold40();
        margin-bottom: 47px;
        margin-right: 252px - 64px;
    }

    @include tablet() {
        grid-column: 1;
        grid-row-start: 4;
        grid-row-end: 5;

        align-self: start;
        margin: 100px 197px 0 196px;

        #{&}__title {
            align-self: center;
            text-align: center;
            margin-right: 94px;
            margin-left: 94px;
        }
    }

    @include mobile() {
        grid-column: 1;
        grid-row-start: 4;
        grid-row-end: 5;

        max-width: 100%;
        width: calc(100% - 16px);
        align-self: start;
        margin: 56px 16px 0 16px;

        #{&}__title {
            text-align: start;
            @include semibold24();
            margin: 0 150px 30px 0;
        }
    }
}